<div style="text-align: center; margin-top: 3vh;">
  <h2> Transferencias Realizadas</h2>
</div>
<table class="table table-hover table-fixed">
  <thead class="thead-dark">
  <tr>
    <th scope="col" class="col-1">#</th>
    <th scope="col" class="col-3">Cuenta de Origen</th>
    <th scope="col" class="col-3">Cuenta Destino</th>
    <th scope="col" class="col-3">Fecha</th>
    <th scope="col" class="col-2">Monto</th>
  </tr>
  </thead>
  <tbody *ngIf="tranferencias">
  <tr *ngFor="let tranferencia of tranferencias.transferencias; let i = index">
    <th class="col-1">{{i + 1}}</th>
    <td class="col-3">{{tranferencia.cuenta_origen}}</td>
    <td class="col-3">{{tranferencia.cuenta_destino}}</td>
    <td class="col-3">{{tranferencia.fecha}}</td>
    <td class="col-2">{{tranferencia.monto}}</td>
  </tr>
  </tbody>
</table>
