<div class="col-md-8 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form #usuarioForm="ngForm" (ngSubmit)="regitrarUsuario(usuarioForm)" >

        <div class="form-group">
          <label for="dpi">DPI</label>
          <input type="text" name="dpi" #dpi="ngModel" id="dpi" class="form-control"
                 [(ngModel)]="usuarioSeleccionado.dpi" placeholder="Ingresa tu dpi" autofocus>
        </div>

        <div class="form-group">
          <label for="nombre">Nombres</label>
          <input pattern="[A-Za-z]"  type="text" name="nombre" #nombre="ngModel" id="nombre" class="form-control"
                 [(ngModel)]="usuarioSeleccionado.nombre" placeholder="Ingresa tus nombres">
          <span class="validity"></span>
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input pattern="[A-Za-z]"  type="text" name="apellido" #apellido="ngModel" id="apellidos" class="form-control"
                 [(ngModel)]="usuarioSeleccionado.apellido" placeholder="Ingresa tus apellidos">
          <span class="validity"></span>
        </div>

        <div class="form-group">
          <label for="cuenta">No Cuenta</label>
          <input type="number" 
                class="form-control"
                name="noCuenta" 
                #noCuenta="ngModel"
                ng-minlength="8" 
                ng-maxlength="8"  
                 id="cuenta" 
                 class="form-control"
                 [(ngModel)]="usuarioSeleccionado.noCuenta" placeholder="Ingresa tui numero de cuenta">

                 <span class="help-block" 
                     ng-show="((usuarioSeleccionado.noCuenta.$error.minlength ||
                              usuarioSeleccionado.noCuenta.$error.maxlength) && 
                              usuarioSeleccionado.noCuenta.$dirty) "
                     >
                              No. Cuenta debe contar con 8 digitos y solo acepta digitos
               </span>
        </div>
        <br>

        <div class="form-group">
          <label for="saldo">Saldo</label>
          <input type="text" name="saldoInicial" #saldoIncial="ngModel" id="saldo" class="form-control"
                 [(ngModel)]="usuarioSeleccionado.saldoInicial" placeholder="Saldo Inicial">
        </div>

        <div class="form-group">
          <label for="correoElectronico">Correo Electronico</label>
          <input type="email" name="correoElectronico" #correoElectronico="ngModel" id="correoElectronico" class="form-control"
                 [(ngModel)]="usuarioSeleccionado.correoElectronico" aria-describedby="emailHelp" placeholder="Ingresa Correo electronico">
        </div>

        <div class="form-group">
          <label for="contrasenia">Contrasenia</label>
          <input type="password" name="contrasena" #contrasena="ngModel" id="contrasenia" class="form-control"
                 [(ngModel)]="usuarioSeleccionado.contrasena" placeholder="Ingresa Contrasenia">
        </div>






        <button type="submit" class="btn btn-success btn-block ">Registrar</button>
      </form>
    </div>
  </div>
</div>
