<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-body">
      <form #usuarioForm="ngForm" (ngSubmit)="autenticarUsuario(usuarioForm)">
        <div class="form-group">
          <label for="noCuenta">Numero de cuenta</label>
          <input type="text" class="form-control" id="noCuenta"
                 name="noCuenta" #dpi="ngModel"
                 [(ngModel)]="usuarioSeleccionado.noCuenta" placeholder="Numero de Cuenta" #email autofocus>
        </div>

        <div class="form-group">
          <div class="a-column a-span5">
            <label for="exampleInputPassword1" style="padding-right: 46%">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"name="contrasena" #nombre="ngModel"
                   [(ngModel)]="usuarioSeleccionado.contrasena" placeholder="Ingresa tu contrasena">
          </div>

        </div>

        <button type="submit" class="btn btn-success btn-block">Ingresar</button>
        <hr>
        <button type="submit" class="btn btn-info btn-block" routerLink="/registro">Registrar</button>
      </form>
    </div>
  </div>
</div>
