<div class="container">
    <div style="text-align: center;">
        <h2> Saldo Actual </h2>
    </div>
    <div class="row profile">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="profile-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  
            <div class="row">
              <div class="col-md-4 profile-usertitle-name">
                <label>Nombres:</label>
              </div>
              <div class="col-md-8">
                <p>{{usuarios.nombre}}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4 profile-usertitle-name">
                <label>Apellidos:</label>
              </div>
              <div class="col-md-8">
                <p>{{usuarios.apellido}}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4 profile-usertitle-name">
                <label>No Cuenta:</label>
              </div>
              <div class="col-md-8">
                <p>{{usuarios.noCuenta}}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4 profile-usertitle-name">
                <label>Saldo actual: </label>
              </div>
              <div class="col-md-8">
                <p>{{usuarios.saldoInicial}}</p>
              </div>
            </div>
  
          </div>
        </div>
      </div>

    </div>
  </div>
  